.panel {
  position: fixed;
  display: flex;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  gap: 2.5rem;
  border-radius: 100px;
  background-color: var(--bg-theme-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-out;

  &.visible {
    pointer-events: initial;
    opacity: 1;
  }

  button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: inherit;
    border-radius: 100px;
  }
}
