.section {
  padding: 2rem;
  margin: 2rem;
}

.label {
  display: flex;
  gap: 1rem;
  color: var(--text-theme-primary);
  margin-bottom: 2rem;
}

.tag {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-content: center;
  gap: 3rem;
}
