.section {
  padding: 2rem;
  margin: 2rem;
}

.label {
  color: var(--text-900);
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-content: center;
  gap: 2rem;
}
