@use '../index.module.scss';

.markdown {
  padding: 4rem;

  * {
    margin: 2rem 0;
  }

  p {
    line-height: 2.8rem;
  }

  ul {
    padding: 0 2rem;
    list-style: initial;
  }

  a {
    text-decoration: underline;
  }

  ul a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  ul {
    a {
      display: flex;
      align-items: center;
      width: max-content;
      text-decoration: none;

      &::after {
        content: '#';
        margin-left: 1rem;
        opacity: 0;
        transition: opacity 200ms ease-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  pre {
    &::-webkit-scrollbar {
      background-color: transparent;
    }
  }

  blockquote {
    border-left: 1rem solid var(--bg-theme-tertiary);
    padding: 1rem 2rem;
    font-style: italic;
    font-size: 1.5rem;

    p {
      margin: 0;
    }
  }

  figure * {
    margin: 0;
  }

  figcaption {
    margin-top: 1rem;
    font-size: small;
    text-align: center;
    opacity: 0.8;
  }
}
