@use '../index.module.scss';

.markdown {
  padding: 4rem;

  * {
    margin: 2rem 0;
  }

  ul {
    padding: 0 2rem;
    list-style: initial;
  }

  a {
    text-decoration: underline;
  }

  pre {
    &::-webkit-scrollbar {
      background-color: transparent;
    }
  }
}
