@use '../index.module.scss';

.markdown {
  padding: 4rem;

  * {
    margin: 2rem 0;
  }

  ul {
    padding: 0 2rem;
    list-style: initial;
  }

  pre {
    font-size: 1.5rem;

    &::-webkit-scrollbar {
      background-color: transparent;

      &-thumb {
        background-clip: padding-box;
        border: 5px solid transparent;
        border-radius: 100px;
        background-color: var(--bg-500);
      }

      &-thumb:hover {
        background-color: var(--bg-600);
      }

      &-thumb:active {
        background-color: var(--bg-700);
      }
    }
  }
}
