.hero {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 8rem 0;
  gap: 2rem;
  text-align: center;
  color: var(--text-theme-primary);
  background-color: var(--bg-theme-primary);

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
    width: 90%;
    max-width: 40rem;
    margin: auto;
  }
}
