.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  gap: 3rem;
  border-bottom: 1rem solid var(--text-500);
  color: var(--text-dark);
  background-color: var(--bg-light);

  h1 {
    font-size: 4rem;
  }
}

.image {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
